@model FFFrontEnd.Models.Survey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Title:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTitle)
        </dd>
        <dt class = "col-sm-2">
            Topic:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTopic)
        </dd>
        <dt class = "col-sm-2">
            Created by:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyCreatorName)
        </dd>
        <dt class = "col-sm-2">
            Created:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyCreated)
        </dd>
        <dt class = "col-sm-2">
            Comments:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyComments)
        </dd>
        <dt class = "col-sm-2">
            Image Link:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyImage)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyID }) |
    <a asp-action="Index">Back to List</a>
</div>
