@model FFFrontEnd.Models.Survey;

@{
    ViewData["Title"] = "Details";
}

<h1>Overview</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <img src="~/Uploads/@Html.DisplayFor(model => model.SurveyImage)" style="height:400px; width:auto" class="mx-auto d-block" />
    <dl class="row">
        <dt class="col-sm-2">
            Title:
        </dt>
        <dd class="col-sm-10">
            @Model.SurveyTitle
        </dd>
        <dt class="col-sm-2">
            Topic:
        </dt>
        <dd class="col-sm-10">
            @Model.SurveyTopic
        </dd>
        <dt class="col-sm-2">
            Created by:
        </dt>
        <dd class="col-sm-10">
            @Model.SurveyCreatorName
        </dd>
        <dt class="col-sm-2">
            Date Created (UTC):
        </dt>
        <dd class="col-sm-10">
            @Model.SurveyCreated
        </dd>
        <dt class="col-sm-2">
            Comments:
        </dt>
        <dd class="col-sm-10">
            @Model.SurveyComments
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit Survey Details", "Edit", new { id = Model.SurveyID }) |
    <a asp-action="Index">Back to List</a>
    <hr />
</div>
<div>
    @{
        Question newQuestion = new Question();
        newQuestion.SurveyID = (int)Model.SurveyID;
    }
    @Html.ActionLink("Add New Question", "CreateAttachedQuestion", "Question", newQuestion)
    <hr />
</div>
<div>
    <h4>Questions</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Question
                </th>
                <th>
                    Survey Priority
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Question question in Model.Questions)
            {
                @if (question.QuestionVisible)
                {
                    <tr>
                        <td>
                            @question.QuestionText
                        </td>
                        <td>
                            @question.QuestionOrder
                        </td>
                        <td>
                            @{
                                Option newOption = new Option();
                                newOption.QuestionID = question.QuestionID;
                            }
                            @Html.ActionLink("New Response Option", "CreateAttachedOption", "Option", newOption) |
                            @Html.ActionLink("Edit", "Edit", "Question", new { id = question.QuestionID }) |
                            @Html.ActionLink("Delete", "Delete", "Question", new { id = question.QuestionID })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Response Options
                        </th>
                        @foreach (Option option in question.Options)
                        {
                            if (option.OptionVisible)
                            {
                                <td>@Html.ActionLink($"{option.OptionText}", "Details", "Option", new { id = option.OptionID }) </td>
                            }
                        }
                    </tr>
                }

            }
</table>
</div>
