@model IEnumerable<FFFrontEnd.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<h1>My Surveys</h1>
<h2>Look at all these surveys:</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Topic
            </th>
            <th>
                Created (UTC)
            </th>
            <th>
                Comments
            </th>
            <th>
                Image Link
            </th>
            <th>
                Action Links
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyImage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SurveyID })  |
                @Html.ActionLink("Details", "Details", new { id = item.SurveyID })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.SurveyID })
            </td>
        </tr>
}
    </tbody>
</table>
